body{
    background-color: #151515 !important;
}
.chat-estilo{
    display: flex;
    justify-content: center; 
}
#chat{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    
    background: #6f26b86b;
    width: 350px;
    height: 50vh;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: auto;
}
#form-chat{
    width: 420px;
}
.mandando{
    align-self: flex-end;
    background: #732642;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    padding: 10px;
    max-width: 250px;
}
.recebendo{
    align-self: flex-start;
    background: #4c00ff;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    padding: 10px;
    max-width: 250px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    height: 30px;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
}
.mensagem{
    width: 309px;
    background-color: #e9e9e9; 
}
form input::placeholder{
    text-align: start;
    font-weight: 600;
    font-size: 16px;
}
.form-msg{
    margin-top: -10px;
    position: absolute;
    margin-left: 44px;
    padding: 0px 6px 4px 6px;
    background: #6f26b86b;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    
}

.button{
    background-color: #512c6b;
    color: #fff;
    border: none;
    border-radius: 8px;
}
.recebendo{
}
.box_msg{
    color: #fff;
    background-color: #151515;
    padding: 25px;
    margin: 5px;

}
.box_msg_geral{
    margin-top: 20px;
    
}
.box_msg:hover{
    background-color: #303030;
    cursor: pointer;
}

.errorInput{
    border: 1px solid rgba(255, 0, 76, 0.767) !important;
}

.selecionado{
    background-color: #303030;
}
#submit{
    cursor: pointer;
}
#submit:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 954px){
    #chat{
        margin-right: 16%;
    }
}   