body{
    background-color: #151515 !important;
}
.chat-estilo{
    display: flex;
    justify-content: center; 
    margin-top: 2vw;
}
#chat{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    
    background: #6f26b86b;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    overflow: auto;
    margin-right: 218px;
}
.mandando{
    align-self: flex-end;
    background: #732642;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    padding: 10px;
    max-width: 450px;
}
.recebendo{
    align-self: flex-start;
    background: #4c00ff;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    padding: 10px;
    max-width: 450px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    height: 30px;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
}
.mensagem{
    width: 700px;
    background-color: #e9e9e9; 
    outline: none;
}
form input::placeholder{
    text-align: start;
    font-weight: 600;
    font-size: 16px;
}
.button{
    background-color: #512c6b;
    color: #fff;
    border: none;
    padding-right: 7px;
    border-radius: 8px;
}
.recebendo{
}
.form-msg{
    padding: 0px 6px 4px 6px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box_msg{
    background-color: #d3d3d3;
    font-weight: 600;
    padding: 25px;
    margin: 5px;
    width: 200px;
    border-radius: 7px;
}
.box_msg_geral{
    margin-top: 20px;
    text-align: center;    
}
.box_msg:hover{
    background-color: #929191;
    cursor: pointer;
}
#submit:hover{
    transform: scale(1.1);
}


.errorInput{
    border: 1px solid rgba(255, 0, 76, 0.767) !important;
}
.selecionado{
    background-color: #929191;
}