body{
    background-image: url("../imagens/fundo.png");
    background-color: #151515;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    
}

.container_login{ /* caixa de login */

    /* tamanho da caixa de login */
    height: 400px;
    width: 400px;

    /* centralizar a caixa de login */
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;

}

#inf_login{
    color: white;
}

.nav_bar_fixed {
    background-color: #301b3f; height: 9%;
    
}

@-ms-viewport {
    width: device-width;
}

.logo {
    width: 60px;
    height:60px; 
    
}

.barra_pesquisa {
    margin: 0 auto;
    width: 500px;
    display: inline-block;

}

@media(max-width: 1000px){
    .nav_bar_fixed {
        background-color: #301b3f; 
        height: 13%;
    }
    .barra_pesquisa {
        margin: 0 auto;
        width: 250px;  
    }
}

.imge {
    width: 250px;
    height: 60px;
}

