@-ms-viewport {
    width: device-width;
}

body {
    background-color: #151515 !important;
    
}

.titulo_anuncios{
    text-align: center;
    color:white;
    margin-top: 20px;
}

.container_cadastro{
    width:400px;

    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

.titulo_livro_input{
    margin-top: 30px;
}

.texto{
    color:white;
}

.foto_livro{
    float:left;
    position: relative;
    margin-left: 10px;
    width: 250px;
    height: 300px;
}

.titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fotos_livros{
    margin-left: auto;
    margin-right: auto;
}

.arquivo{
    width: 360px;
    background-color: white;
    border-radius: 10px;
}

.enviarArquivo{
    text-align: center;
}

.estrelas{
    margin-left: 5px;
    margin-right: 5px;
    color:white;
}

.grupo_card{
    margin-left: auto;
    margin-right: auto; 
}

.card_anuncios{
    height: 100%;
    margin-top: 20px;
    text-align: center;
    width:400px;
}

.excluir{
    height: 100%;
    width: 100%;
    background-color: red;
}

.excluir{
    color:white;
}
