@-ms-viewport {
    width: device-width;
}

body {
    background-color: #151515 !important;
    
}

.capa_livro{
    margin-left: 10px;
    width:250px;
    border-radius: 20px;
}

.titulo{ 
    color:white;
    margin-left: 5%;
}

.descricao{
    text-align: justify;
    margin-top: 10px;
    color:white;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
    height: 400px;
}

.isbn{
    color:white;
    margin-left: 5%;
}


.capa_livro1{
    
    width:121px;
    height: 171px;
}

.anuncio{
    margin-right: 10px;
    width: 500px;
    height: 170px;
    background-color: #151518;
}

